/* assets/css/custom.css */
@import url('https://fonts.googleapis.com/css2?family=Marvel:ital,wght@0,400;0,700;1,400;1,700&family=Thasadith:ital,wght@0,400;0,700;1,400;1,700&display=swap');

h1 a {
  color: #222222 !important;
  font-size: 1.2em;
  text-decoration: none;
}






h1, h2, h3 {
  font-family: 'Marvel', sans-serif;
}

body {
  background-color: palegoldenrod;
  font-family: 'Marvel', sans-serif;
}

.content-frame {
  border: 8px solid #333;       /* thick border */
  padding: 40px;                /* inner space between border and content */
  margin: 60px auto;            /* center the box */
  max-width: 800px;             /* control width */
  background-color: white;     /* background inside the frame */
  box-shadow: 0 0 20px rgba(0,0,0,0.1);  /* optional shadow for depth */
}
